<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>dao.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>servlet.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCarServlet</servlet-name>
        <servlet-class>servlet.SearchCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowRoomHNServlet</servlet-name>
        <servlet-class>servlet.ShowRoomHNServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewCarServlet</servlet-name>
        <servlet-class>servlet.viewCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewInfoCarServlet</servlet-name>
        <servlet-class>servlet.ViewInfoCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowRoomDNServlet</servlet-name>
        <servlet-class>servlet.ShowRoomDNServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowRoomHCMServlet</servlet-name>
        <servlet-class>servlet.ShowRoomHCMServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCarServlet</servlet-name>
        <url-pattern>/SearchCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowRoomHNServlet</servlet-name>
        <url-pattern>/ShowRoomHNServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewCarServlet</servlet-name>
        <url-pattern>/viewCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewInfoCarServlet</servlet-name>
        <url-pattern>/ViewInfoCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowRoomDNServlet</servlet-name>
        <url-pattern>/ShowRoomDNServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowRoomHCMServlet</servlet-name>
        <url-pattern>/ShowRoomHCMServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
